$standard-border-width: 2px;
$standard-gap-size: 15px;

@import 'reset';

html, body {
    box-sizing: border-box; 
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 16px;
    font-weight: normal; 
  
    display: flex;
    flex-direction: column;
}
  
.content {
    flex: 1 0 auto;

    header {
        padding: $standard-gap-size * 2;

        display: flex;
        flex-direction: row;
        align-items: center;

        .pageTitle {
            left: $standard-gap-size;
            font-weight: bold;
            font-size: 32px;
        }

        .navsSection {
            display: flex;
            flex-direction: row;
            flex-grow: 2;
            align-self: flex-start;
            justify-content: flex-end;

            nav {
                width: 75px;
            }
        }

        .hamburger {
            display: none;
        }
    }

    main {
        display: flex;
        padding: $standard-gap-size;

        article {
            margin: $standard-gap-size;
            width: 100%;
            border-style: solid;
            border-width: $standard-border-width;
            background-color: #f2e5c2;
            
            display: flex;
            flex-direction: column;
        
            .articleHeader {
                height: 50px;
                width: 50%;
                font-size: 24px;
                font-weight: normal;
                border-left-style: solid;
                border-left-width: $standard-border-width;
                border-bottom-style: solid;
                border-bottom-width: $standard-border-width;
            
                display: flex;
                align-self: flex-end;
                align-items: center;
                justify-content: center;
            }
        
            articleHeader1 {
                background-color: #8debf2;
            }
            
            articleHeader2 {
                background-color: #f77800;
            }
            
            articleHeader3 {
                background-color: #e099c2;
            }
        
            .articleText {
                padding: $standard-gap-size;
                text-align: justify;
            
                display: flex;
                align-content: center;
                justify-content: center;
            }
        }
    }
}

footer {
    background-color: #f2e5c2;
    height: 100px;
    border-top-width: $standard-border-width;
    border-top-style: solid;
    margin-top: $standard-gap-size;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    .footer2 {
        font-weight: bold;
    }
}

@media all and (max-width: 1024px) {
    .content {
        header {
            .navsSection {
                display: none;
            }
        
            .hamburger {
                display: flex;
                flex-grow: 2;
                align-self: flex-start;
                justify-content: flex-end;
            }
        }

        main {
            article {
                width: normal;
            }
            .article2, .article3 {
                flex: 1;
            }
            flex-wrap: wrap;
        }
    }
}

@media all and (max-width: 600px) {
    header {
        justify-content: space-between;
    
        .pageTitle {
            display: none;
        }

        .navsSection {
            display: none;
        }
        
        .hamburger {
            display: flex;
            flex-grow: 2;
            align-self: flex-start;
            justify-content: flex-end;
        }
    }

    main {
        flex-direction: column;
        margin-right: $standard-gap-size * 2;
        article {
            width: 100%;
        }
    }
    
}